[1, 2, 3, 4]

In [193]:
import numpy as np
import pandas as pd

In [5]:
from numpy.random import randn

In [6]:
np.random.seed(101)

In [149]:
df = pd.DataFrame(randn(5,5),['A','B','C','D','E'],['V','W','X','Y','Z'])

In [150]:
df

          V         W         X         Y         Z
A -1.560931 -0.251897 -0.578120  0.236996  0.200780
B  0.327845  0.674485 -0.174057  0.780140 -0.383258
C -0.409318  0.343539  0.196275 -0.982776  2.231555
D -0.971393 -1.522333  1.133703  0.528187  0.393461
E -0.630507 -1.398290 -0.219311 -0.045676  0.012421

In [19]:
df[['W','X']]

          W         X
A -0.855196  1.541990
B  1.407338  0.641806
C -1.972605 -0.866885
D -1.115710 -1.385379
E -0.771329  0.110477

In [29]:
df['new',axis=1]

SyntaxError: invalid syntax (<ipython-input-29-ac49e8a4e7b8>, line 1)

In [151]:
df['new'] = df['W']+df['Y']

In [30]:
df.drop('new',axis=1)

          V         W         X         Y         Z
A  0.221491 -0.855196  1.541990  0.666319 -0.538235
B -0.568581  1.407338  0.641806 -0.905100 -0.391157
C  1.028293 -1.972605 -0.866885  0.720788 -1.223082
D  1.606780 -1.115710 -1.385379 -1.329660  0.041460
E -0.411055 -0.771329  0.110477 -0.804652  0.253548

In [27]:
df.drop('new')

ValueError: labels ['new'] not contained in axis

In [34]:
df.drop('new',axis = 1)

          V         W         X         Y         Z
A  0.221491 -0.855196  1.541990  0.666319 -0.538235
B -0.568581  1.407338  0.641806 -0.905100 -0.391157
C  1.028293 -1.972605 -0.866885  0.720788 -1.223082
D  1.606780 -1.115710 -1.385379 -1.329660  0.041460
E -0.411055 -0.771329  0.110477 -0.804652  0.253548

In [152]:
df

          V         W         X         Y         Z       new
A -1.560931 -0.251897 -0.578120  0.236996  0.200780 -0.014901
B  0.327845  0.674485 -0.174057  0.780140 -0.383258  1.454625
C -0.409318  0.343539  0.196275 -0.982776  2.231555 -0.639237
D -0.971393 -1.522333  1.133703  0.528187  0.393461 -0.994146
E -0.630507 -1.398290 -0.219311 -0.045676  0.012421 -1.443966

In [153]:
df

          V         W         X         Y         Z       new
A -1.560931 -0.251897 -0.578120  0.236996  0.200780 -0.014901
B  0.327845  0.674485 -0.174057  0.780140 -0.383258  1.454625
C -0.409318  0.343539  0.196275 -0.982776  2.231555 -0.639237
D -0.971393 -1.522333  1.133703  0.528187  0.393461 -0.994146
E -0.630507 -1.398290 -0.219311 -0.045676  0.012421 -1.443966

In [39]:
df.loc[['A','C']]

          V         W         X         Y         Z       new
A  0.221491 -0.855196  1.541990  0.666319 -0.538235 -0.188877
C  1.028293 -1.972605 -0.866885  0.720788 -1.223082 -1.251818

In [78]:
df[df['X'] =  1.54199]

SyntaxError: invalid syntax (<ipython-input-78-4c5b870773f7>, line 1)

In [122]:
df[df['V']>1.606780],[['V','W','Z']]

(Empty DataFrame
 Columns: [V, W, Y, Z]
 Index: [], [['V', 'W', 'Z']])

In [159]:
df

                  V         X         Y
Z
 0.200780 -1.560931 -0.578120  0.236996
-0.383258  0.327845 -0.174057  0.780140
 2.231555 -0.409318  0.196275 -0.982776
 0.393461 -0.971393  1.133703  0.528187
 0.012421 -0.630507 -0.219311 -0.045676

In [154]:
df.set_index('W',inplace=True)

In [158]:
df.set_index('Z',inplace=True)

In [53]:
df.iloc[2]

V      1.028293
W     -1.972605
X     -0.866885
Y      0.720788
Z     -1.223082
new   -1.251818
Name: C, dtype: float64

In [55]:
df.loc['A','X']

1.5419904080312321

In [59]:
df.iloc[['1','2','3'],['X','Y','Z']]

TypeError: cannot perform reduce with flexible type

In [72]:
df[df >0]

          V    W         X         Y         Z  new
A  0.221491  NaN  1.541990  0.666319       NaN  NaN
B  1.400000  1.4  1.400000  1.400000  1.400000  1.4
C  1.028293  NaN       NaN  0.720788       NaN  NaN
D  1.606780  NaN       NaN       NaN  0.041460  NaN
E       NaN  NaN  0.110477       NaN  0.253548  NaN

In [123]:
df.set_index('V',inplace = True)

In [94]:
df.drop('X',axis = 1,inplace=True)

ValueError: labels ['X'] not contained in axis

In [129]:
df

          V         W         X         Y         Z       new
A  0.649148  0.358941 -1.080471  0.902398  0.161781  1.261338
B  0.833029  0.975720 -0.388239  0.783316 -0.708954  1.759036
C  0.586847 -1.621348  0.677535  0.026105 -1.678284 -1.595242
D  0.333973 -0.532471  2.117727  0.197524  2.302987 -0.334947
E  0.729024 -0.863091  0.305632  0.243178  0.864165 -0.619914

In [131]:
df.set_index('new',inplace=True)

In [136]:
df

                 W         X         Y         Z
V
0.649148  0.358941 -1.080471  0.902398  0.161781
0.833029  0.975720 -0.388239  0.783316 -0.708954
0.586847 -1.621348  0.677535  0.026105 -1.678284
0.333973 -0.532471  2.117727  0.197524  2.302987
0.729024 -0.863091  0.305632  0.243178  0.864165

In [134]:
df.set_index('V',inplace=True)

In [135]:
df

                 W         X         Y         Z
V
0.649148  0.358941 -1.080471  0.902398  0.161781
0.833029  0.975720 -0.388239  0.783316 -0.708954
0.586847 -1.621348  0.677535  0.026105 -1.678284
0.333973 -0.532471  2.117727  0.197524  2.302987
0.729024 -0.863091  0.305632  0.243178  0.864165

In [137]:
df['new'] = df['X']+df['Y']

In [140]:
df.set_index('new',inplace=True)

In [141]:
df

                  W         X         Y         Z
new
-0.178074  0.358941 -1.080471  0.902398  0.161781
 0.395077  0.975720 -0.388239  0.783316 -0.708954
 0.703641 -1.621348  0.677535  0.026105 -1.678284
 2.315251 -0.532471  2.117727  0.197524  2.302987
 0.548809 -0.863091  0.305632  0.243178  0.864165

In [148]:
df.set_index('Z',inplace=True)

TypeError: 'list' object is not callable

In [145]:
df

                  W         X         Y         Z
new
-0.178074  0.358941 -1.080471  0.902398  0.161781
 0.395077  0.975720 -0.388239  0.783316 -0.708954
 0.703641 -1.621348  0.677535  0.026105 -1.678284
 2.315251 -0.532471  2.117727  0.197524  2.302987
 0.548809 -0.863091  0.305632  0.243178  0.864165

In [160]:
pa=pd.DataFrame({'a':np.array([[1.,4.],[2.],[3.,4.,5.]])})

In [179]:
df[df['X']==0.196275]

Empty DataFrame
Columns: [V, X, Y]
Index: []

In [172]:
pa.iloc[1]

a    [2.0]
Name: 1, dtype: object

In [177]:
df

                  V         X         Y
Z
 0.200780 -1.560931 -0.578120  0.236996
-0.383258  0.327845 -0.174057  0.780140
 2.231555 -0.409318  0.196275 -0.982776
 0.393461 -0.971393  1.133703  0.528187
 0.012421 -0.630507 -0.219311 -0.045676

In [188]:
outside = ['G1','G1','G1','G2','G2','G2']
inside  = [1,2,3,1,2,3]
hire_index = list(zip(outside,inside))
hire_index = pd.MultiIndex.from_tuples(hire_index)

TypeError: 'list' object is not callable

In [200]:
outside = ['G1','G1','G1','G2','G2','G2']

In [201]:
inside = [1,2,3,1,2,3]

In [191]:
inside

[1, 2, 3, 1, 2, 3]

TypeError: 'list' object is not callable

In [203]:
hier_index = list(zip(outside,inside))

TypeError: 'list' object is not callable