In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from numpy.random import randn

In [4]:
np.random.seed(101)

In [12]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],[1,2,3,4])

In [13]:
df

          1         2         3         4
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [16]:
df[[1,2]]

          1         2
A -0.993263  0.196800
B  1.025984 -0.156598
C  2.154846 -0.610259
D  0.147027 -0.479448
E -0.925874  1.862864

In [50]:
df['NEW'] = df[1]+[2]

In [51]:
df

          1         2         3         4       NEW
A -0.993263  0.196800 -1.136645  0.000366  1.006737
B  1.025984 -0.156598 -0.031579  0.649826  3.025984
C  2.154846 -0.610259 -0.755325 -0.346419  4.154846
D  0.147027 -0.479448  0.558769  1.024810  2.147027
E -0.925874  1.862864 -1.133817  0.610478  1.074126

In [56]:
df.drop('NEW',axis=1)

          1         2         3         4
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [57]:
df

          1         2         3         4       NEW
A -0.993263  0.196800 -1.136645  0.000366  1.006737
B  1.025984 -0.156598 -0.031579  0.649826  3.025984
C  2.154846 -0.610259 -0.755325 -0.346419  4.154846
D  0.147027 -0.479448  0.558769  1.024810  2.147027
E -0.925874  1.862864 -1.133817  0.610478  1.074126

In [49]:
df.drop('NEW',axis=0,inplace = True)

ValueError: labels ['NEW'] not contained in axis

In [58]:
df

          1         2         3         4       NEW
A -0.993263  0.196800 -1.136645  0.000366  1.006737
B  1.025984 -0.156598 -0.031579  0.649826  3.025984
C  2.154846 -0.610259 -0.755325 -0.346419  4.154846
D  0.147027 -0.479448  0.558769  1.024810  2.147027
E -0.925874  1.862864 -1.133817  0.610478  1.074126

In [59]:
df.drop('NEW',axis=1)

          1         2         3         4
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [63]:
df.drop('NEW',axis=1,inplace = True)

ValueError: labels ['NEW'] not contained in axis

In [62]:
df

          1         2         3         4
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [64]:
clear

In [66]:
df.drop('New',axis=1,inplace=True)

ValueError: labels ['New'] not contained in axis

In [ ]:
df.