In [1]:
l = [1,2,3,4]

In [2]:
l

[1, 2, 3, 4]

In [20]:
x=0
x_1 = 0
x_2 = 0
while  x < 30:
        print 'the given number is:',x
        x +=1
        if x < 10:
            x_1 +=x  
            print 'the total number is after one by one iteration',x_1
        elif x==20:
            print 'the number reaches the max and the nuber is:',x 
            break
        elif x >10:
            x_2 = x-x_2
            print 'the total substraction after one by one iteration',x_2

the given number is: 0
the total number is after one by one iteration 1
the given number is: 1
the total number is after one by one iteration 3
the given number is: 2
the total number is after one by one iteration 6
the given number is: 3
the total number is after one by one iteration 10
the given number is: 4
the total number is after one by one iteration 15
the given number is: 5
the total number is after one by one iteration 21
the given number is: 6
the total number is after one by one iteration 28
the given number is: 7
the total number is after one by one iteration 36
the given number is: 8
the total number is after one by one iteration 45
the given number is: 9
the given number is: 10
the total substraction after one by one iteration 11
the given number is: 11
the total substraction after one by one iteration 1
the given number is: 12
the total substraction after one by one iteration 12
the given number is: 13
the total substraction after one by one iteration 2
the given number is: 14
the total substraction after one by one iteration 13
the given number is: 15
the total substraction after one by one iteration 3
the given number is: 16
the total substraction after one by one iteration 14
the given number is: 17
the total substraction after one by one iteration 4
the given number is: 18
the total substraction after one by one iteration 15
the given number is: 19
the number reaches the max and the nuber is: 20

In [23]:
l = []

In [24]:
for letter in 'Words':
    l.append(letter)
print l

['W', 'o', 'r', 'd', 's']

In [25]:
l =[]

In [26]:

l

[]

In [29]:
l = [letter for letter in 'worrd']

In [30]:
l

['w', 'o', 'r', 'r', 'd']

In [31]:
square = []

In [48]:
square = [ x for x in xrange(1,100) if x%2==0]
#print x,'*',x,'=',square

In [33]:
type(x)

int

In [49]:
square

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [52]:
tem = [num*(9/5)+32 for num in xrange(1,10)]

In [55]:
tem

[33, 34, 35, 36, 37, 38, 39, 40, 41]

In [60]:
def add_num(num1,num2):
    return (num1+num2)

In [57]:
add_num(100,100)

200

In [61]:
x = add_num(100,100)

In [62]:
x

200

In [70]:
def fin_prime(num):
    for i in xrange(1,num):
        if num%i == 0:
            print 'The given number is not prime',num
        break
    else :
         print 'The given number is prime',num

In [71]:
fin_prime(13)

The given number is not prime 13

In [81]:
def greating(name):
    #name = 'Dilip Kumar'
    def hello():
        print 'Hello '+name

In [83]:
greating('DILIP Kumar')

In [85]:
hello()

greating('Ravi teja')

NameError: name 'hello' is not defined

In [86]:
l = [1,2,3,4,5,6]

In [87]:
l

[1, 2, 3, 4, 5, 6]

In [89]:
def ran_check(low,high,number):
    if number in range (low,high):
        print 'the given number is in limit:',number
    else :
         print 'given number is not in range'

In [90]:
ran_check(1,10,7)

the given number is in limit: 7

In [93]:
float (4)/3

1.3333333333333333

In [94]:
def vol_sph(num):
    return (float(4)/3)*3.14*num**3

In [96]:
vol_sph(6)

904.3199999999999

In [104]:
start =1
stop =10
x = range(start,stop)

In [105]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
type(x)

xrange

In [115]:
def low_upp(string):
    d = {'upper': 0,'lower':0}
    for c in string:
        if c.
            d['upper'] +=1
        elif c.islower():
            d['lower'] +=1
        else:
            pass
    print 'oraginal string :',string
    print 'Upper letters:',d['upper']
    print 'Lower letters :',d['lower']

In [112]:
string = 'Dilip Kumar is very Good Boy'

In [113]:
string

'Dilip Kumar is very Good Boy'

In [116]:
low_upp(string)

oraginal string : Dilip Kumar is very Good Boy
Upper letters: 4
Lower letters : 19

In [196]:
def unique_list(l):
    x = []
    for a in l:
        if a not in x:
            x.append(l)
    return x

In [197]:
unique_list(12)

TypeError: 'int' object is not iterable

In [194]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 15]

In [133]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [199]:
for i in x:
    print 'the given number :',i

the given number : 1
the given number : 2
the given number : 3
the given number : 4
the given number : 5
the given number : 6
the given number : 7
the given number : 8
the given number : 9
the given number : 10
the given number : 11
the given number : 15
the given number : 12

In [223]:
def mul_leme():
    l = 1
    for i in x:
        l *=i 
    print 'loop addition:',l

In [228]:
mul_leme()

loop addition: -24

In [226]:
x = [1,2,3,-4]

In [227]:
x

[1, 2, 3, -4]

In [229]:
s   = 'sello'

In [230]:
s

'sello'

In [231]:
s[::-1]

'olles'

In [247]:
def pal_fun(string):
    s = string
    d = s[::-1]
    if d ==s:
        return 'given string is a pallindrom ;',string
    else:
        return 'The given number ia not a pallindrom kindly check :',string

In [248]:
pal_fun('helleh')

('given string is a pallindrom ;', 'helleh')

In [249]:
def pal_jupy(s):
    s = s.replace(' ','')
    return s ==s[::-1]

In [250]:
pal_jupy('Dilip Kumar')

False

In [253]:
pal_jupy('DiliD DiliD')

True