In [1]:
import numpy as np
import pandas as pd

In [2]:
outside = ['G1','G1','G1','G2','G2','G2']

In [3]:
inside = [1,2,3,1,2,3]

In [4]:
hier_index = list(zip(outside,inside))

In [9]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [10]:
hier_index

MultiIndex(levels=[[u'G1', u'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [25]:
df= pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [22]:
df

             A         B         C         D
G1 1  1.543707 -2.257140 -0.250573 -2.137754
   2  0.124217  0.396640 -1.581006  1.266916
   3  0.742686 -1.344905 -0.811777  0.385249
G2 1  0.084099  0.708560 -0.665478 -0.257110
   2 -0.730038 -0.570932 -0.647936  0.689275
   3  0.602791 -0.474780 -1.300514 -0.391697

In [30]:
df.loc['G1'].loc[1]

A   -1.008658
B   -1.181048
Name: 1, dtype: float64

In [28]:
df.loc['G1']

          A         B
1 -1.008658 -1.181048
2 -0.600906  1.725037
3 -0.370237  0.418138

In [33]:
df.index.names = ['Groups','Numbers']

In [34]:
df

                       A         B
Groups Numbers
G1     1       -1.008658 -1.181048
       2       -0.600906  1.725037
       3       -0.370237  0.418138
G2     1        0.264810 -0.308342
       2       -1.005787  0.280591
       3       -1.131856 -1.179812

In [41]:
df.loc['G1'].loc[2]['B']

1.7250371714092321

In [44]:
lf = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [45]:
lf

{'A': [1, 2, nan], 'B': [5, nan, nan], 'C': [1, 2, 3]}

In [46]:
pf = pd.DataFrame(lf)

In [47]:
pf

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [48]:
import nltk

In [56]:
lambda num: num**2

In [55]:
square(4)

16

In [57]:
from pyspark import SparkContest

ImportError: No module named pyspark

In [ ]:
sc = Spark