In [5]:
import numpy as np
import pandas as pd

In [7]:
from numpy.random import randn

In [8]:
np.random.seed(101)

In [10]:
df  = pd.DataFrame(randn(6,5),['A','B','C','D','E','F'],['V','W','X','Y','Z'])

In [11]:
df

          V         W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826  0.651118
B -0.319318 -0.848077  0.605965 -2.018168  0.740122
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237
D  0.955057  0.190794  1.978757  2.605967  0.683509
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841
F  0.390528  0.166905  0.184502  0.807706  0.072960

In [14]:
df[df['V']>0]

          V         W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826  0.651118
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237
D  0.955057  0.190794  1.978757  2.605967  0.683509
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841
F  0.390528  0.166905  0.184502  0.807706  0.072960

In [18]:
df[(df['V']>0) & (df['Y']>0)]

          V         W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826  0.651118
D  0.955057  0.190794  1.978757  2.605967  0.683509
F  0.390528  0.166905  0.184502  0.807706  0.072960

In [19]:
df.reset_index()

  index         V         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826  0.651118
1     B -0.319318 -0.848077  0.605965 -2.018168  0.740122
2     C  0.528813 -0.589001  0.188695 -0.758872 -0.933237
3     D  0.955057  0.190794  1.978757  2.605967  0.683509
4     E  0.302665  1.693723 -1.706086 -1.159119 -0.134841
5     F  0.390528  0.166905  0.184502  0.807706  0.072960

In [20]:
df.set_index('Y')

                  V         W         X         Z
Y
 0.503826  2.706850  0.628133  0.907969  0.651118
-2.018168 -0.319318 -0.848077  0.605965  0.740122
-0.758872  0.528813 -0.589001  0.188695 -0.933237
 2.605967  0.955057  0.190794  1.978757  0.683509
-1.159119  0.302665  1.693723 -1.706086 -0.134841
 0.807706  0.390528  0.166905  0.184502  0.072960

In [21]:
df

          V         W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826  0.651118
B -0.319318 -0.848077  0.605965 -2.018168  0.740122
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237
D  0.955057  0.190794  1.978757  2.605967  0.683509
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841
F  0.390528  0.166905  0.184502  0.807706  0.072960

In [22]:
state  = 'AP MP MH TG TA KA'.slpit()

In [23]:
df['STATES'] = state

In [24]:
df

          V         W         X         Y         Z STATES
A  2.706850  0.628133  0.907969  0.503826  0.651118     AP
B -0.319318 -0.848077  0.605965 -2.018168  0.740122     MP
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237     MH
D  0.955057  0.190794  1.978757  2.605967  0.683509     TG
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841     TA
F  0.390528  0.166905  0.184502  0.807706  0.072960     KA

In [42]:
outside = ['G1','G1','G1','G2','G2','G2']

In [43]:
inside = [1,2,3,1,2,3]

In [44]:
hire_index = list(zip(outside,inside))

In [45]:
hire_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [46]:
hire_index = pd.MultiIndex.from_tuples(hire_index)

In [47]:
hire_index

MultiIndex(levels=[[u'G1', u'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [48]:
df = pd.DataFrame(randn(6,2),hire_index,['A','B'])

In [49]:
df

             A         B
G1 1  0.558769  1.024810
   2 -0.925874  1.862864
   3 -1.133817  0.610478
G2 1  0.386030  2.084019
   2 -0.376519  0.230336
   3  0.681209  1.035125

In [50]:
df.loc['G1']

          A         B
1  0.558769  1.024810
2 -0.925874  1.862864
3 -1.133817  0.610478

In [51]:
df.loc['G2']

          A         B
1  0.386030  2.084019
2 -0.376519  0.230336
3  0.681209  1.035125

In [56]:
df.index.names = ['Group','Num']

In [57]:
df

                  A         B
Group Num
G1    1    0.558769  1.024810
      2   -0.925874  1.862864
      3   -1.133817  0.610478
G2    1    0.386030  2.084019
      2   -0.376519  0.230336
      3    0.681209  1.035125

In [65]:
df.loc['G1'].loc[2]['B']

1.8628641384939535