In [1]:
import numpy as np
import pandas as pd

In [4]:
from numpy.random import randn

In [5]:
np.random.seed(101)

In [19]:
df = pd.DataFrame(randn(5,3),['A','B','C','D','E'],['principal','time','rate'])

In [20]:
 df

   principal      time      rate
A  -0.993263  0.196800 -1.136645
B   0.000366  1.025984 -0.156598
C  -0.031579  0.649826  2.154846
D  -0.610259 -0.755325 -0.346419
E   0.147027 -0.479448  0.558769

In [26]:
df['Interest'] = df['principal']*df['time']*df['rate']

In [22]:
df

   principal      time      rate  Interest
A  -0.993263  0.196800 -1.136645  0.222184
B   0.000366  1.025984 -0.156598 -0.000059
C  -0.031579  0.649826  2.154846 -0.044219
D  -0.610259 -0.755325 -0.346419 -0.159680
E   0.147027 -0.479448  0.558769 -0.039389