In [9]:
my_list = [1,2,3,4]

In [2]:
my_list

[1, 2, 3, 4]

In [3]:
import numpy as np

In [10]:
arr = np.array(my_list)

In [11]:
arr

array([1, 2, 3, 4])

In [14]:
my_mat = [[1,2,3,4],[5,6,7,8],[9,10,11,23]]

In [15]:
my_mat

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 23]]

In [17]:
np.array(my_mat)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 23]])

In [20]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [24]:
np.zeros((5,5))

array([[ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.]])

In [25]:
np.ones(5)

array([ 1.,  1.,  1.,  1.,  1.])

In [26]:
np.ones((3,5))

array([[ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.]])

In [30]:
np.linspace(0,5,9)

array([ 0.   ,  0.625,  1.25 ,  1.875,  2.5  ,  3.125,  3.75 ,  4.375,  5.   ])

In [31]:
np.eye(4,4)

array([[ 1.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.],
       [ 0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  1.]])

In [32]:
np.random.rand(5,5)

array([[ 0.45332063,  0.00877485,  0.7940384 ,  0.13522898,  0.34521564],
       [ 0.24157593,  0.84099505,  0.52869253,  0.52293009,  0.70289169],
       [ 0.58852776,  0.70546303,  0.09052204,  0.48907624,  0.98528338],
       [ 0.0135105 ,  0.35777043,  0.96312468,  0.63963925,  0.76108351],
       [ 0.31052754,  0.34619083,  0.16421635,  0.97133666,  0.86955743]])

In [35]:
rannar = np.random.randint(0,50,10)

In [36]:
rannar

array([32, 34, 14, 27,  2, 45, 34, 48, 20,  8])

In [37]:
rannar

array([32, 34, 14, 27,  2, 45, 34, 48, 20,  8])

In [39]:

import  numpy as numpyp

In [41]:
labels = ['a','b','c','d']
my_date = [10,20,30,40]

In [42]:
arr = np.array(my_date)

In [43]:
arr

array([10, 20, 30, 40])

In [44]:
d = {'a':10,'b':20,'c':30}

In [45]:
d

{'a': 10, 'b': 20, 'c': 30}

In [46]:
pd.series (data = my_date)

AttributeError: 'module' object has no attribute 'series'

In [48]:
my_date

[10, 20, 30, 40]

In [52]:
pd.series(data = my_date)

AttributeError: 'module' object has no attribute 'series'

In [51]:
import  pandas as pd

In [53]:
pd.Series(data=my_date )

0    10
1    20
2    30
3    40
dtype: int64

In [54]:
pd.Series(data = my_date, index = labels)

a    10
b    20
c    30
d    40
dtype: int64

In [55]:
pd.Series(my_date,labels)

a    10
b    20
c    30
d    40
dtype: int64

In [56]:
pd.Series(arr,labels)

a    10
b    20
c    30
d    40
dtype: int32

In [57]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [64]:
pd.Series(6, 'ADD')

TypeError: Index(...) must be called with a collection of some kind, 'ADD' was passed

In [65]:
tn = [5+6]

In [66]:
tn

[11]

In [67]:
lab = ['A']

In [68]:
pd.Series(tn,lab)

A    11
dtype: int64

In [69]:
pd.Series(data = lab)

0    A
dtype: object

In [70]:
s1 =  pd.Series([5+6],['A'])

In [73]:
s1

A    11
dtype: int64

In [74]:
from numpy.random import randn

In [75]:
df = pd.DataFrame(randn(5,5),['V','W','X','Y','Z'],['A','B','C','D','E'])

In [76]:
df

          A         B         C         D         E
V  0.370032  0.346318 -0.601250 -0.850237  0.742779
W -0.520298 -0.013975  1.615278  0.047020 -0.863399
X  0.268601  1.281766  1.257164 -1.308681  0.512877
Y -0.675354  0.002956 -1.479835  0.454240 -0.270274
Z  0.967382 -1.231778 -0.339984 -0.851557  1.856985